<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <title>Honeypot Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script defer src="{{ url_for('static', filename='main.js') }}"></script>
</head>

<body>

    <header style="padding: 20px; text-align: center;">
        <h1 class="neon glow-loop">🛡️ Honeypot Dashboard</h1>
        <a class="btn" href="/export.csv" style="margin-top: 10px; display:inline-block;">
            Exportar CSV
        </a>
    </header>

    <section class="stats">
        <div class="card">
            <h3 class="neon-blue">Total de Tentativas</h3>
            <p id="total" class="neon">0</p>
        </div>

        <div class="card">
            <h3 class="neon-blue">Top IPs</h3>
            <ul id="top-ips"></ul>
        </div>

        <div class="card">
            <h3 class="neon-blue">Top Usuários</h3>
            <ul id="top-users"></ul>
        </div>
    </section>


    <section class="container">
        <h2 class="neon-blue">Tentativas por período</h2>
        <canvas id="chart" height="90"></canvas>
    </section>

    <section class="container">
        <h2 class="neon-blue">Últimas Tentativas</h2>
        <div class="log-box" id="logs">Carregando...</div>
    </section>

    <footer>
        HoneySpot © {{ year }}
    </footer>

</body>
</html>
